/CarcassonneShared/build/
/CarcassonneShared/dist/
/CarcassonneShared/nbproject/private/
/CarcassonneClient/build/
/CarcassonneClient/dist/
/CarcassonneClient/nbproject/private/
/CarcassonneServer/build/
/CarcassonneServer/nbproject/private/
/CarcassonneServer/dist/